@font-face{
  font-family: 'action-comic';
  src: url('action.ttf'); 
}

h1{
  text-align: center;
  font-family: action-comic;
  margin-bottom: 40px;
}

h2{
  font-family: action-comic;
  font-size: 20px;
}

#scs-col{
  margin-top: 50px;
  text-align: center;
}