<div class="col-md-4"></div>

<div class="col-md-4 well">
  <h1 class="text-success">Succes!</h1>
  <h2>Your hero has been built</h2>
  <a href="/"><button class="btn btn-primary"> Go Back </button></a>
</div>

<div class="col-md-4"></div>